.aside {
  width: 273px;
  background: #fff;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    background: linear-gradient(50deg, #FD5272, #EA6D54);
  }

  &__link  {
    position: relative;
    width: 91px;
    height: 48px;
  }

  &__link--users {
    background: url(../img/aside/users.png) no-repeat center;
  }

  &__link--chat {
    background: url(../img/aside/chat.png) no-repeat center;
  }

  &__link--like {
    background: url(../img/aside/like.png) no-repeat center;
  }

  &__link:hover {
    background-color: #ff7772;
    
    &:nth-child(1n + 1):after {
      content: "";
      position: absolute;
      top: 47px;
      left: 43px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #ff7772;
    }
  }

  &__users {
    width: 24px;
    height: 20px;
  }

  &__chat {
    width: 20px;
    height: 16px;
  }

  &__like {
    width: 20px;
    height: 16px;
  }

  &__messages {
    overflow: scroll;
    width: 273px;
    height: 516px;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    border-bottom: 2px solid #F1F1F1;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    margin-right: 17px;
  }

  &__name {
    color: #777777;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__text {
    color: #BFBFBF;
    font-size: 10px;
    font-weight: 400;
  }

  &__img {
    width: 20px;
    height: 16px;
  }

  &__search {
    width: 100%;
    display: flex;
  }

  &__search--line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
  }

  &__search--text {
    background: transparent;
    margin-left: 18px;
    border: 0px;
    width: 161px;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    border-bottom: 1px solid #f1f1f1;
  }

  &__search--edit {
    margin-left: 20px;
  }

  &__search--zoom {
    margin-left: 14px;
  }
}


