.header {
  width: calc(100% - 70px);
  background: #fff;
}

/* User
==================================================*/

.user {
  display: flex;

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 18px;
    background: linear-gradient(75deg, #FD5272, #EA6D54);
    border-radius: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    border-right: 1px solid #F1F1F1;
  }

  &__circle {
    width: 6px;
    height: 6px;
    margin: 1px;
    border-radius: 50%;
    background: #fff;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #F1F1F1;
  }

  &__search--line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 299px;
    height: 34px;
    background: #F8F8F8;
    border-radius: 30px;
    border: 1px solid #f1f1f1;
  }

  &__search--text {
    background: transparent;
    margin-left: 13px;
    border: 0px;
    width: 100%;
    height: 13px;
    font-size: 12px;
    font-weight: 400;
    color: #888888;
  }
  
  &__search--zoom {
    width: 16px;
    height: 16px;
    margin-right: 13px;
  }

  &__kendall {
    display: flex;
    align-items: center;
    width: 246px;
  }

  &__photo {
    width: 70px;
    height: 70px;
    margin-right: 18px;
  }

  &__name {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 9px;
    margin-right: 49px;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
  }

  &__text {
    font-size: 10px;
    font-weight: 400;
    color: #bfbfbf
  }

  &__button--circle {
    width: 6px;
    height: 6px;
    border-radius:50%;
    background: #bfbfbf;
    margin: 1px 18px 1px 0;
  }
}

/* Stactics
==================================================*/

.stactics {
  border-top: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;

  &__block {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    margin-bottom: 9px;
  }

  &__daily {
    tab-size: 20px;
    font-weight: 700;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
    margin-bottom: 8px;
  }

  &__course {
    display: flex;
  }

  &__link{
    font-size: 12px;
    font-weight: 700;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
  }
}