@import './config/reset';
@import './config/variables';
@import './config/mixins';

@import './components/header';
@import './components/navigation';
@import './components/main';
@import './components/aside';
@import './components/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrap {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 1366px;
  width: 100%;
  background-color: #EAEAEA;
  margin: 0 auto;
  padding-bottom: 0px;
  font-family: 'Lato', sans-serif;
}

.main__div {
  display: flex;
}
/* 1020 1020
==================================================*/

.course {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  margin: 0 7px;
  color: #bfbfbf;
}

.up:after{
  content: '';
  position: absolute;
  left: -10px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #A889E9;
  margin: 2px;
}

.down:after {
  content: '';
  position: absolute;
  left: -10px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #FD5670;
  margin: 2px;
}
.containe{
  width: 704px;
  padding: 30px;
}

@import './config/media';
