.main {
  width: 100%;
  max-width: 985px;
  margin: 18px;

  &__title {
    color: #777777;
    font-weight: 700;
    font-size: 14px;
  }
}



/* Schedule
=========================================*/

.section {
  display: flex;
  justify-content: space-between;
}

.schedule {
  margin-bottom: 18px;
  width: 100%;
  margin-right: 18px;
  background: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
  }

  &__link {
    padding: 7px 17px;
    font-size: 12px;
    font-weight: 700;
    color: #BFBFBF;
  }

  &__link--year {
    margin-right: 10px;
  }

  &__link--circle {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #BFBFBF;
  }

  &__link--circle:after {
    content: "";
    position: absolute;
    top: -7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #BFBFBF;
    
  }

  &__link--circle:before {
    content: "";
    position: absolute;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #BFBFBF;
  }

  &__link:hover {
    padding: 7px 17px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(50deg, #FD5272, #EA6D54);
  }

  &__content {
    display: flex;
  }

  &__sum {
    font-size: 12px;
    font-weight: 700;
    color: #BFBFBF;
    margin-bottom: 20px;
    margin-right: 31px;
  }

  &__months {
    display: flex;
    justify-content: space-around;
  }

  &__month {
    font-size: 12px;
    font-weight: 700;
    color: #BFBFBF;
  }

  &__shape {
    width: 582px;
    height: 117px;
    margin-bottom: 26px;
  }
}

/* Revenue
=========================================*/

.revenue {
  margin-bottom: 18px;
  width: 265px;
  padding-top: 31px;
  padding-bottom: 30px;
  background: #fff;
  text-align: center;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 8px solid #6a5bb4;
    background: #ededed;
    margin: 31px 70px;
  }

  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: #fff;
  }

  &__currency {
    font-size: 25px;
    font-weight: 700;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #b26ae1, #6a5bb4);
  }

  &__course {
    display: flex;
    justify-content: center;
  }
}

/* Customers
=========================================*/

.customers {
  width: 467px;
  padding: 31px 30px 35px 30px;
  background: #fff;

  &__comments {
    overflow: scroll;
    width: 407px;
    height: 393px;
    margin-top: 39px;
  }

  &__user {
    display: flex;
    justify-content: center;
  }

  &__avatar {
    width: 43px;
    height: 43px;
    margin-bottom: 13px;
    margin-right: 20px;
  }

  &__time {
    font-size: 8px;
    font-weight: normal;
    color: #979796;
  }

  &__text {
    padding: 21px 24px 18px 23px;
    font-size: 12px;
    font-weight: 300;
    color: #BFBFBF;
    background: #FCFCFC;
    border: 1px solid #F1F1F1;
    margin-bottom: 19px;
  }

  &__name {
    font-size: 12px;
    font-weight: 0900;
    color: #777777;
  }

  &__messages {
    border-left: 4px solid #F1F1F1;
    padding-left: 13px;
  }
}

/* Task
=========================================*/

.task {
  margin-bottom: 18px;
  width: 501px;
  padding: 32px 27px 23px 27px;
  background: #fff;

  &__list {
    overflow: scroll;
    width: 441px;
    height: 158px;
    margin-top: 20px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
  }

  &__position {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
  }

  &__state {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__fake {
    width: 17px;
    height: 17px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    margin-right: 11px;
    position: relative;
  }

  &__fake::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 11px;
    background: linear-gradient(50deg, #FD5272, #EA6D54);
    opacity: 0;
    z-index: 1;
    text-align: center;
    color: #fff;
  }

  &__state:checked + &__fake::before {
    opacity: 1;
  }

  &__title {
    display: inline-block;
    color: #FD566F;
    font-size: 12px;
    font-weight: 700;
    margin-right: 30px;
  }

  &__text {
    color: #BFBFBF;
    font-size: 12px;
    font-weight: 400;
  }

  &__time {
    color: #9C9C9C;
    font-size: 12px;
    font-weight: 700;
  }
}

/* Progress
=========================================*/

.progress {
  width: 241px;
  padding-top: 31px;
  padding-bottom: 23px;
  background: #fff;
  text-align: center;

  &__schedule {
    display: flex;
    justify-content: center;
    margin: 29px auto 23px;
  }

  &__pillar {
    width: 11px;
    height: 88px;
    margin: 0 4px;
    border-radius: 20px;
    border: 1px solid #F1F1F1;
    background: #F6F6F6;
  }

  &__text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #708AE6, #8841AF);
  }
}

/* Shipments
=========================================*/

.shipments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 241px;
  padding-top: 31px;
  padding-bottom: 24px;
  background: #fff;

  &__course {
    display: flex;
    align-items: center;
    margin-top: 19px;
  }

  &__text {
    font-size: 20px;
    font-weight: 700;
    margin-right: 44px;
    
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
    margin-bottom: 8px;
  }
}